<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="billsplit.pma.hdm.de.billsplit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:label="BillSplit"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".WelcomeActivity" />

        <activity android:name=".QuantityPriceActivity"
            android:theme="@style/AppTheme.QuantityPrice" />

        <activity android:name=".LocationActivity" />

        <activity android:name=".MenuActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".DragDropActivity" />

        <activity android:name=".OverviewActivity" />
    </application>

</manifest>